body {
  font-family: Helvetica;
}
.app {
  display: flex;
  height: 100vh;
}

.channel_pane {
  width: 40%;
}

.active {
  font-weight: bold;
}

.message_pane {
  width: 60%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.message_list {
  flex: 1;
}

.message {
  margin-bottom: 1.5em;
}

.message-username {
  color: red;
}

.message-date {
  color: grey;
  margin-left: .5em;
}

.message-content {
  margin-top: .25em;
}

.message_form {
  border-top: 1px solid rgba(0,0,0,.1);
  display: flex;
  padding: .5em;
  input {
    flex: 1;
    margin-right: .25em;
  }
}
