body {
  font-family: Helvetica;
}
.app {
  margin-top: 20px;
  margin-bottom: 20px;
}

.message {
  margin-bottom: 1.5em;
}

.message-username {
  color: red;
}

.message-date {
  color: grey;
  margin-left: .5em;
}

.message-content {
  margin-top: .25em;
}
