body {
  font-family: Helvetica;
}
.app {
  display: flex;
  height: 100vh;
}

.channel_pane {
  width: 40%;
}

.message_pane {
  width: 60%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.message_list {
  flex: 1;
}

.message {
  margin-bottom: 1.5em;
}

.message-username {
  color: red;
}

.message-date {
  color: grey;
  margin-left: .5em;
}

.message-content {
  margin-top: .25em;
}
